.intro{
	text-align: center;
}

.bg_remove{
	margin: 20px auto;
	width: 60%;
	overflow: hidden;
}

.main_img{
	width: 45%;
	float: left;
}
.main_img img{
	width: 100%;
	pointer-events: none;
}

.removed_bg{
	width: 45%;
	float: right;
}
.removed_bg img{
	width: 100%;
	pointer-events: none;
}

.intro_video{
	margin: 0px auto 50px;
	width: 60%;
}
.intro_video video{
	width: 100%;
}